<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landon Hotel | Staff</title>
</head>
<body>
<table>
  <tr>
    <th>Employee Id</th>
    <th>Employee Number</th>
    <th>first Name</th>
    <th>Last name</th>
    <th>Position</th>
  </tr>

  <tr th:each="staffMember:${staff}">
    <td th:text="${staffMember.getId()}">Employee Number</td>
    <td th:text="${staffMember.getEmployeeNumber()}">Employee Number</td>
    <td th:text="${staffMember.getLastName()}">first Name</td>
    <td th:text="${staffMember.getFirstName()}">Last name</td>
    <td th:text="${staffMember.getPosition()}">Position</td>
  </tr>
</table>
</body>
</html>
