<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Landon Hotel: Room Reservations</title>
</head>
<body>
<h1>Welcome to Landon Hotel</h1>

<table>
  <tr>
    <td>last name</td>
    <td>first name </td>
    <td>email address</td>
    <td>phone number</td>
  </tr>

  <tr th:each="guest: ${guests}">
    <td th:text="${guest.getLastName()}">last name</td>
    <td th:text="${guest.getFirstName()}">first name </td>
    <td th:text="${guest.getEmail()}">email address</td>
    <td th:text="${guest.getPhoneNumber()}">phone number</td>
  </tr>
</table>
</body>
</html>